{% extends "layout.html" %}

{% block main %}

    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" id="symbol" class="form-select mx-auto w-auto">
                <option selected disabled value="Symbol">Symbol</option>
                {% for stock in stocks %}
                    <option value="{{ stock }}">{{ stock }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number" min="0">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

{% endblock %}